#TabsToolbar {
  display: none !important;
  height: 0 !important;
}

#titlebar {
  display: none;
}

#sidebar-switcher-target {
transform: scale(0.6);
position: relative;
left: -24px;
}

#sidebar-header {
  height: 24px;
  background-color: black;
}

#urlbar-container {
padding: 0 !important;
}

#urlbar-background, #searchbar {
  border: none !important;
  border-radius: 0 !important;
}
#urlbar-background {
  min-height: 30px;
  top: -8px;
}

.sidebar-splitter {
/* display: none !important; */
width: 2px !important;
}

#sidebar-close {
  display: none !important;
}
