.titlebar-close {
  display: none;
}

#urlbar-input, #urlbar-one-offs-header-label, .urlbarView-row, .tab-text {
  font-family: Terminess Nerd Font !important;
}

#urlbar-input, #urlbar-one-offs-header-label, .urlbarView-row {
  font-size: 1.05em !important;
}

.tab-text {
  font-size: 0.95em;
}
