@font-face {
    font-family: 'BPmonoRound';
    src: url('BPmonoRound.eot'); /* IE9 Compat Modes */
    src: url('BPmonoRound.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPmonoRound.woff') format('woff'), /* Modern Browsers */
         url('BPmonoRound.ttf') format('truetype'); /* Safari, Android, iOS */         
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}