@font-face {
    font-family: 'BPmonoStencil';
    src: url('BPmonoStencil.eot'); /* IE9 Compat Modes */
    src: url('BPmonoStencil.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPmonoStencil.woff') format('woff'), /* Modern Browsers */
         url('BPmonoStencil.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}