@font-face {
    font-family: 'BPmono';
    src: url('BPmonoBold.eot'); /* IE9 Compat Modes */
    src: url('BPmonoBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPmonoBold.woff') format('woff'), /* Modern Browsers */
         url('BPmonoBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}