:root {
  --background-modifier-active: var(--intervalo-v) !important;
  --background-modifier-selected: var(--intervalo-v) !important;
  --background-modifier-hover: var(--intervalo-v) !important;
  --button-danger-background: var(--intervalo-i) !important;
  --button-outline-danger-border: var(--intervalo-iii) !important;
  --button-outline-danger-text: var(--intervalo-iii) !important;
  --channels-default: var(--intervalo-ii) !important;
  --interactive-active: var(--intervalo-iii) !important;
  --interactive-hover: var(--intervalo-iii) !important;

  --blue-345: var(--intervalo-iii) !important;
  --brand-260: var(--intervalo-iii) !important;
  --green-430: var(--intervalo-iii) !important;
  --primary-130: var(--intervalo-iii) !important;
  --primary-230: var(--intervalo-ii) !important;
  --primary-330: var(--intervalo-ii) !important;
  --primary-360: var(--intervalo-iv) !important;
  --primary-400: var(--intervalo-iii) !important;
  --primary-500: var(--intervalo-v) !important;
  --primary-560: var(--intervalo-i) !important;
  --primary-600: var(--intervalo-i) !important;
  --primary-630: var(--intervalo-i) !important;
  --primary-645: var(--intervalo-i) !important;
  --primary-660: var(--intervalo-i) !important;
  --primary-700: var(--intervalo-i) !important;
  --primary-800: var(--intervalo-i) !important;
  --white-500: var(--intervalo-ii) !important;
}

div > span.item-2LIpTv {
  background-color: var(--intervalo-iii) !important;
}