:root {
  --intervalo-font: 'PT Mono';

  --intervalo-i: #28241e;
  --intervalo-ii: #423a2d;
  --intervalo-iii: #d68b72;
  --intervalo-iv: #c49b7d;
  --intervalo-v: #e3b485;
  --intervalo-vi: #e1d5c6;
}