:root {
  --intervalo-i: #28241e;
  --intervalo-ii: #d68b72;
  --intervalo-iii: #c49b7d;
  --intervalo-iv: #e3b485;
  --intervalo-v: #e1d5c6;

  --background-primary: var(--intervalo-i) !important;
  --background-secondary-alt: var(--intervalo-i) !important;
  --background-secondary: var(--intervalo-i) !important;
  --background-tertiary: var(--intervalo-i) !important;
  --brand-experiment: var(--intervalo-iii) !important;
  --button-danger-background: var(--intervalo-i) !important;
  --button-outline-danger-border: var(--intervalo-iii) !important;
  --button-outline-danger-text: var(--intervalo-iii) !important;
  --channel-icon: var(--intervalo-iii) !important;
  --channels-default: var(--intervalo-iii) !important;
  --channeltextarea-background: var(--intervalo-i) !important;
  --green-430: var(--intervalo-iv) !important;
  --header-primary: var(--intervalo-v) !important;
  --header-secondary: var(--intervalo-v) !important;
  --interactive-normal: var(--intervalo-v) !important;
  --mention-foreground: var(--intervalo-v) !important;
  --primary-600: var(--intervalo-i) !important;
  --primary-630: var(--intervalo-i) !important;
  --primary-660: var(--intervalo-i) !important;
  --status-positive-text: var(--intervalo-i) !important;
  --text-link: var(--intervalo-iii) !important;
  --text-muted: var(--intervalo-iv) !important;
  --text-normal: var(--intervalo-ii) !important;
  --text-primary: var(--intervalo-iii) !important;
  --white-500: var(--intervalo-ii) !important;
}

span[class^="username"] {
  filter: saturate(50%);
}